[Unit]
Description=OpenVPN tunnel for %I
After=syslog.target network-online.target ovpn0.service
Wants=network-online.target ovpn0.service
Documentation=man:openvpn(8)
Documentation=https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage
Documentation=https://community.openvpn.net/openvpn/wiki/HOWTO

[Service]
User=root
Type=simple
WorkingDirectory=/etc/openvpn/client
ExecStart=ip netns exec ovpn0 openvpn --suppress-timestamps --config %i
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=full
DynamicUser=yes
LimitNPROC=10
DeviceAllow=/dev/null rw
DeviceAllow=/dev/net/tun rw
ProtectHome=true
KillMode=process

[Install]
WantedBy=multi-user.target
